
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700&display=swap'); /* weights 200, 400, 700 
 font-family: 'Josefin Sans', sans-serif; */

.App-bg {
    background: linear-gradient(#23343C,#0DCDEC, #23343C);
    background-size: cover;
}
.dummy {
    display: flex;
    justify-content: space-between;
    margin: 1vw 0;
}
.head {
    text-align: center;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.671) 1px 1px 5px;
    font-family: 'Josefin Sans', sans-serif;
}
.head h1 {
    font-size: 8vw;
    padding-top: 2vw;
    margin: 0;
}
#searchForm {
    justify-content: center;
    display: flex;
    margin: 30px 30px 30px 30px;
}
#searchForm button {
    margin-left: 10px;
    border: 1px solid grey;
}
#searchBar {
    width: 50% !important;
    background-color: #23343C;
    color: white;
    border: 1px solid grey;
}
::placeholder {
    color: white;
}
.flags {
    border: 2px solid black; border-radius: 5px;
    height: 6vw;
    width: 9vw;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 3vw;
}
#favesListBtn {
    background-color: #23343C;
    color: white;
}
#RandomCityBtn {
    background-color: #23343C;
}
#LondonBtn {
    background-image: url(./Assets-flags/england-flag.webp);
}
#ParisBtn {
    background-image: url(./Assets-flags/france-flag.webp);
}
#CairoBtn {
    background-image: url(./Assets-flags/egypt-flag.png);
}
#MoscowBtn {
    background-image: url(./Assets-flags/russia-flag.png);
}
#IstanbulBtn {
    background-image: url(./Assets-flags/turkey-flag.png);
}
#NewDelhiBtn {
    background-image: url(./Assets-flags/india-flag.png);
}
#KarachiBtn {
    background-image: url(./Assets-flags/pakistan-flag.webp);
}
#DhakaBtn {
    background-image: url(./Assets-flags/bangladesh-flag.png);
}
#JakartaBtn {
    background-image: url(./Assets-flags/indonesia-flag.webp);
}
#ShanghaiBtn {
    background-image: url(./Assets-flags/china-flag.webp);
}
#SeoulBtn {
    background-image: url(./Assets-flags/sk-flag.webp);
}
#TokyoBtn {
    background-image: url(./Assets-flags/jap-flag.png);
}
#LABtn {
    background-image: url(./Assets-flags/usa-flag.png);
}
#MexicoCityBtn {
    background-image: url(./Assets-flags/mex-flag.webp);
}
#TorontoBtn {
    background-image: url(./Assets-flags/can-flag.png);
}
#SydneyBtn {
    background-image: url(./Assets-flags/aus-flag.webp);
}
#SaoPaoloBtn {
    background-image: url(./Assets-flags/brz-flag.webp);
}
#BuenosAiresBtn {
    background-image: url(./Assets-flags/arg-flag.webp);
}
.label {
    position: absolute;
    top: 0;
    left: 0;
  }
  button {
    position: relative;
    background-color: #23343C;
    color: white;
  }
  .footer-text {
    text-align: center;
    color: rgb(205, 205, 205);
    padding: 10px;
    display: table;
    font-family: 'Josefin Sans', sans-serif;
  }
  .footer-text a{
    color: rgb(205, 205, 205);
  }
  .coop {

  }
  h3 {
    font-size: 1.3vw !important;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.671) 1px 1px 5px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 5px !important;
  }
.current-weather-bg {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    background-color: #c4c4c4b1;
}